/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: arial;
    width: 720px;

}

img {
    width: 100px;
}

#hero {
    background-image: url(images/torshov.jpg);
    background-size: cover;
    height: 343px;
}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    background: #1D3557;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    margin: 119px auto 0;
    padding: 3px 12px ;
    border-radius: 10px;
}

#cta-message {
    background: #457B9D;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 11px auto 125px;
    padding: 5px 28px ;
    border-radius: 10px;
}


#activities{
    background-color: #F1FAEE;
    background-size: cover;
    height: 378px;
}

#activities-todo {
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    padding-top: 38px;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 54px 38px;
   
   
}


.activity-img {
    border-radius: 50px;
    margin-bottom: 23px;
}

.activity-title {
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;

}

.activity-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
 

}
